body {
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    font-family: 'Dosis', sans-serif;
    color: #121213;
    font-size: 14px;
    line-height: 20px;
}
#nav-img{
    background-color: #e47312;
    position: absolute;
    display: flex;
    height: 110px;
    padding-right: 35px;
    padding-left: 35px;
    float: left;
    text-decoration: none;
}